//  預設一些常用的 div 各個樣式

.box {
    background-color: var(--color-background-pure);
    border: 1px solid var(--color-border);
    border-radius: 20px;
    .title {
        font-size: 35px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 5px;
    }
}

.divider{
    height: 30px;
    background-color: var(--color-background-pure);
    border-left: 8px solid var(--color-main);
    box-shadow: -1px 1px 2px 1px var(--color-shadow);
    cursor: pointer;
    &:active{
        box-shadow: none;
    }
}